.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-top: 50px;
}

.imageContainer {
  position: relative;
}

.footerImage {
  max-width: 320px;
  height: auto;
  height: auto;
  border-radius: 15px;
}

.textContainer {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: none;
  font-family: "Kz font";
}

.text {
  font-size: 44px;
  color: whitesmoke;
  margin: 0px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
}

.link {
  margin: 10px;
}

.buttonStick {
  font-size: 24px;
}